li {
  list-style: none;
  background: #f4f4f4;
  font-family: sans-serif;
  font-size: 16px;
  list-style: none;
  margin-bottom: 9px;
  padding: 9px;
  position: relative; }
  li .fb {
    display: flex; }
    li .fb .icon--container {
      height: 24px; }
      li .fb .icon--container svg {
        fill: #1189cb;
        height: 24px; }
    li .fb .text--block {
      padding: 0 18px;
      line-height: 24px; }
      li .fb .text--block p {
        margin: 0;
        color: #515554; }
    li .fb button {
      display: block;
      position: absolute;
      top: 8px;
      right: 9px;
      background: none;
      border: none;
      cursor: pointer; }
      li .fb button:hover svg {
        fill: #515554;
        transition: all 0.4s; }
