.form {
    padding: 8px;
    margin: 32px auto;
    border: 1px solid #515554;
    border-left: 6px solid #515554;
    border-radius: 6px;
    width: 500px;
    max-width: 100%;

    .widget-selector {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 0.5em 1em;

            label {
                padding: 0.25em;
            }
        }
    }

    p {
        font-size: 16px;
        line-height: 26px;
        margin-top: 8px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        color: #515554;
    }

    h2 {
        margin-top: 0;
        color: #515554;    
    }

    input {
        border-radius: 3px;
        border-color: #1189cb;
        padding: 4px;
    }

    textarea {
        border-radius: 3px;
        border-color: #1189cb;
        padding: 4px;
    }

    input[name="description"], input[name="image"], input[name="link"] {
        color: #515554;
        width: 50%;
    }
}









