form {
  padding: 8px;
  margin: 32px auto;
  border: 1px solid #515554;
  border-left: 6px solid #515554;
  border-radius: 6px;
  width: 500px;
  max-width: 100%; }
  form .widget-selector {
    margin: 0;
    padding: 0; }
    form .widget-selector li {
      list-style: none;
      padding: 0.5em 1em; }
      form .widget-selector li label {
        padding: 0.25em; }
  form label {
    display: block;
    font-size: 16px;
    line-height: 26px;
    margin-top: 8px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #515554; }
  form h2 {
    margin-top: 0;
    color: #515554; }
  form input {
    border-radius: 3px;
    border-color: #1189cb;
    padding: 4px; }
  form textarea {
    border-radius: 3px;
    border-color: #1189cb;
    padding: 4px; }
  form input[name="description"], form input[name="image"], form input[name="link"] {
    color: #515554;
    width: 50%; }
  form button {
    display: block;
    background: #1189cb;
    color: #f6fbfe;
    cursor: pointer;
    font-family: sans-serif;
    transition: all 1s;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-size: 18px;
    font-style: normal;
    line-height: 1em;
    padding: 0.5625em 1.125em;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    margin: 8px 0; }
    form button:hover {
      background: #0f79b4;
      opacity: 1; }
