.widget-lg {
  box-shadow: 0px 0px 10px rgba(81, 85, 65, 0.5);
  border: 1px solid transparent;
  width: 500px;
  max-width: 100%;
  transition: all .6s;
  margin: 32px auto;
  box-sizing: border-box;
  padding: 8px; }
  .widget-lg .link {
    text-decoration: none; }
  .widget-lg .img--container {
    width: 500px;
    max-width: 100%;
    height: 500px;
    margin-bottom: 16px; }
    .widget-lg .img--container img {
      width: 500px;
      max-width: 100%;
      height: 500px; }
  .widget-lg .text--block {
    text-align: center;
    margin-bottom: 16px; }
    .widget-lg .text--block p {
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      font-family: Arial, Helvetica, sans-serif;
      color: #515554; }
