.widget-sm {
  max-width: 500px;
  transition: all .6s;
  margin: 32px auto;
  background-color: #f5f5f5; }
  .widget-sm .img--container {
    width: 88px;
    max-width: 88px;
    height: 88px; }
    .widget-sm .img--container img {
      width: 88px;
      max-width: 88px;
      height: 88px; }
  .widget-sm a {
    text-decoration: none; }
  .widget-sm .text--block {
    padding: 8px; }
    .widget-sm .text--block p {
      color: #515554; }
