@import '../../../styles/colors';

.widget-sm {
    max-width: 500px;
    transition: all .6s;
    margin: 32px auto;
    background-color: $color-off--white;

    .img--container {
        width: 88px;
        max-width: 88px;
        height: 88px;

        img {
            width: 88px;
            max-width: 88px;
            height: 88px;
        }
    }

    a {
        text-decoration: none;
    }

    .text--block {
        padding: 8px;

        p {
            color: $color-black;
        }
    }
}
