.navigation {
  background: #0d699c;
  padding: 0 16px;
  border-bottom: 2px solid #1189cb; }
  .navigation .container {
    position: relative; }

.nav-selected {
  background: #1189cb;
  border-right: 2px solid transparent; }

.select-widget {
  display: inline-block;
  text-align: center;
  height: 51px;
  width: 100px;
  border-right: 2px solid #1189cb; }
  .select-widget .input-card, .select-widget .input-list {
    position: absolute;
    cursor: pointer;
    margin: 0;
    opacity: 0;
    height: 51px;
    top: 0;
    left: 0;
    width: 100px; }
  .select-widget .input-list {
    left: 104px; }
  .select-widget label {
    color: #fff;
    line-height: 51px; }
