@import '../../styles/colors';

.header {
    border-top: 2px solid $color-secondary--blue;
    border-bottom: 2px solid $color-primary--blue;
    margin: 0 auto;
}

.fz-logo-color {
    padding: 8px;
    width: 180px;
    max-width: 100%;

    img {
        width: 180px;
        max-width: 100%;
    }
}
