@import '../../styles/colors';

.snippet {

    background: $color-off--white;
    width: auto;
    overflow: hidden;
    overflow-x: scroll;
    margin: 8px;
    
    .prettyprint {
        color: $color-black;
        padding: 16px;
    }

// CSS to hide the textarea used to copy the code snippet to the clipboard. 
// Display none can't be used here as it doesn't work with the select() method.
    .hidden {
        width: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
        left: -100px;
    }
}
