@import '../../styles/colors';

.snippet {

    background: $color-off--white;
    width: auto;
    overflow: hidden;
    overflow-x: scroll;
    margin: 8px;
    
    .prettyprint {
        color: $color-black;
        padding: 16px;
    }
}

