.snippet {
  background: #f4f4f4;
  width: auto;
  overflow: hidden;
  overflow-x: scroll;
  margin: 8px; }
  .snippet .prettyprint {
    color: #515554;
    padding: 16px; }
  .snippet .hidden {
    width: 0;
    height: 0;
    overflow: hidden; }
