@import '../../styles/colors';

.footer {
    background: $color-secondary--blue;
    border-top: 6px solid $color-primary--blue;
    color: $color-white;
    font-family: sans-serif;
    margin-top: 8px;
    padding: 8px;

    .fz-logo-white {
        padding: 8px;
        width: 180px;
        max-width: 100%;

        img {
            width: 180px;
            max-width: 100%;
        }
    }
}



