@import './styles/imports.scss'; //imports all the styles

.App {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}

.heading-title {
  color: $color-black;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 50%;
}

h4 {
  font-weight: 600;
  font-size: 17.4px;
  color: $color-black;
  line-height: 27.0667px;
  margin: 0;
  margin-top: 16px;
}

.text {
  margin: 0;
  color: $color-black;
  font-size: 14.4923px;
  font-weight: 300;
  line-height: 23.2px;
}

@media only screen and (max-width: 991px) {
  .flex {
    display: block;
  }
  
  .col {
    width: 100%;
  }
}
