.header {
  border-top: 2px solid #0d699c;
  border-bottom: 2px solid #1189cb;
  margin: 0 auto; }

.fz-logo-color {
  padding: 8px;
  width: 180px;
  max-width: 100%; }
  .fz-logo-color img {
    width: 180px;
    max-width: 100%; }

.footer {
  background: #0d699c;
  border-top: 6px solid #1189cb;
  color: #fff;
  font-family: sans-serif;
  margin-top: 8px;
  padding: 8px; }
  .footer .fz-logo-white {
    padding: 8px;
    width: 180px;
    max-width: 100%; }
    .footer .fz-logo-white img {
      width: 180px;
      max-width: 100%; }

.widget-lg {
  box-shadow: 0px 0px 10px rgba(81, 85, 65, 0.5);
  border: 1px solid transparent;
  width: 500px;
  max-width: 100%;
  transition: all .6s;
  margin: 32px auto;
  box-sizing: border-box;
  padding: 8px; }
  .widget-lg .link {
    text-decoration: none; }
  .widget-lg .img--container {
    width: 500px;
    max-width: 100%;
    height: 500px;
    margin-bottom: 16px; }
    .widget-lg .img--container img {
      width: 500px;
      max-width: 100%;
      height: 500px; }
  .widget-lg .text--block {
    text-align: center;
    margin-bottom: 16px; }
    .widget-lg .text--block p {
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      font-family: Arial, Helvetica, sans-serif;
      color: #515554; }

.widget {
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(81, 85, 65, 0.5);
  border-radius: 6px;
  border: 1px solid transparent;
  border-left: 6px solid #1189cb;
  max-width: 500px;
  transition: all .6s;
  margin: 32px auto; }
  .widget img {
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px; }
  .widget a {
    text-decoration: none;
    color: #515554; }

.widget:hover {
  box-shadow: 0px 0px 10px transparent;
  border: 1px solid #1189cb;
  border-left: 6px solid #1189cb;
  transition: all .6s ease-in-out; }

.fb {
  display: flex; }

.text-block {
  padding-left: 16px; }

.widget-sm {
  max-width: 500px;
  transition: all .6s;
  margin: 32px auto;
  background-color: #f4f4f4; }
  .widget-sm .img--container {
    width: 88px;
    max-width: 88px;
    height: 88px; }
    .widget-sm .img--container img {
      width: 88px;
      max-width: 88px;
      height: 88px; }
  .widget-sm a {
    text-decoration: none; }
  .widget-sm .text--block {
    padding: 8px; }
    .widget-sm .text--block p {
      color: #515554; }

.form {
  padding: 8px;
  margin: 32px auto;
  border: 1px solid #515554;
  border-left: 6px solid #515554;
  border-radius: 6px;
  width: 500px;
  max-width: 100%; }
  .form .widget-selector {
    margin: 0;
    padding: 0; }
    .form .widget-selector li {
      list-style: none;
      padding: 0.5em 1em; }
      .form .widget-selector li label {
        padding: 0.25em; }
  .form p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 8px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #515554; }
  .form h2 {
    margin-top: 0;
    color: #515554; }
  .form input {
    border-radius: 3px;
    border-color: #1189cb;
    padding: 4px; }
  .form textarea {
    border-radius: 3px;
    border-color: #1189cb;
    padding: 4px; }
  .form input[name="description"], .form input[name="image"], .form input[name="link"] {
    color: #515554;
    width: 50%; }

.snippet {
  background: #f4f4f4;
  padding: 1em;
  max-width: 500px;
  margin: 0 auto; }
  .snippet .prettyprint {
    color: #515554; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.App {
  font-family: Arial, Helvetica, sans-serif; }

.container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto; }

.heading-title {
  color: #515554; }
