@import './styles/imports.scss'; //imports all the styles

.App {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}

.heading-title {
  color: $color-black;
  margin: 16px 8px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 50%;
}

h4 {
  font-weight: 600;
  font-size: 17.4px;
  color: $color-black;
  line-height: 27.0667px;
  margin: 0;
  margin-top: 16px;
  margin-left: 8px;
}

.text {
  margin: 0;
  color: $color-black;
  font-size: 14.4923px;
  font-weight: 300;
  line-height: 23.2px;
  margin-left: 8px;
}

.btn-blue {
  display: block;
  background: #1189cb;
  color: #f6fbfe;
  cursor: pointer;
  font-family: sans-serif;
  transition: all 1s;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 18px;
  font-style: normal;
  line-height: 1em;
  padding: 0.5625em 1.125em;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  margin: 8px;

  &:hover {
      background: #0f79b4;
      opacity: 1;
      transition: all 1s;
  }
}

@media only screen and (max-width: 991px) {
  .flex {
    flex-direction: column-reverse;
  }

  .col {
    width: 100%;
  }
}
