.header {
  border-top: 2px solid #0d699c;
  border-bottom: 2px solid #1189cb;
  margin: 0 auto; }

.fz-logo-color {
  padding: 8px;
  width: 180px;
  max-width: 100%; }
  .fz-logo-color img {
    width: 180px;
    max-width: 100%; }

.footer {
  background: #0d699c;
  border-top: 6px solid #1189cb;
  color: #fff;
  font-family: sans-serif;
  margin-top: 8px;
  padding: 8px; }
  .footer .fz-logo-white {
    padding: 8px;
    width: 180px;
    max-width: 100%; }
    .footer .fz-logo-white img {
      width: 180px;
      max-width: 100%; }

.widget-user-notification {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid silver;
  border-radius: 6px;
  background: #fff; }
  .widget-user-notification .widget-container {
    padding: 18.225px; }
    .widget-user-notification .widget-container .flex-notification {
      display: flex;
      justify-content: flex-start; }
      .widget-user-notification .widget-container .flex-notification .img--container {
        margin-right: 18.225px;
        max-width: 180px; }
        .widget-user-notification .widget-container .flex-notification .img--container img {
          width: 180px; }
      .widget-user-notification .widget-container .flex-notification .text--block {
        font-family: Arial, Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased; }
        .widget-user-notification .widget-container .flex-notification .text--block .title {
          font-size: 18px;
          font-weight: 600;
          line-height: 21.6px;
          margin: 0;
          margin-bottom: 8.1px;
          color: #515554; }
        .widget-user-notification .widget-container .flex-notification .text--block .description {
          color: #515554;
          margin: 0;
          font-size: 16.2px;
          font-weight: 400;
          line-height: 22.7812px; }

.widget {
  max-width: 480px;
  margin: 16px; }
  .widget .widget-container {
    background-color: #fff;
    border-bottom: none !important;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(81, 85, 84, 0.5);
    display: block;
    outline: none;
    overflow: hidden;
    transition: all 0.4s;
    margin: 0 8px; }
  .widget a {
    text-decoration: none;
    color: #515554; }
  .widget .img--container {
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    overflow: hidden; }
    .widget .img--container img {
      position: absolute;
      height: auto;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 100%;
      vertical-align: middle; }
  .widget .text--block {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.46));
    bottom: 0;
    padding: 1rem 1rem 2rem;
    position: absolute;
    width: 100%;
    z-index: 1; }
    .widget .text--block .title {
      font-family: sans-serif;
      padding-right: 1rem;
      padding-top: 1rem;
      line-height: 1.58;
      font-weight: 600;
      font-size: 19px;
      padding-left: 0;
      color: #fff;
      margin: 0; }
    .widget .text--block .description {
      color: #fff;
      padding-left: 0;
      font-size: 14px;
      line-height: 1.5;
      padding-right: 1rem;
      margin: 0; }
  .widget .card__actions {
    padding: 1rem; }
    .widget .card__actions a {
      border-color: #b0b3b3;
      color: #515554;
      border-style: solid;
      border-width: 1px;
      border-radius: 2px;
      cursor: pointer;
      display: inline-block;
      font-size: 15px;
      font-style: normal;
      line-height: 1em;
      padding: 0.5625em 1.125em;
      text-decoration: none;
      text-transform: capitalize;
      -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased; }
      .widget .card__actions a:hover {
        border-color: #0D699C;
        color: #0D699C; }

@media only screen and (max-width: 991px) {
  .widget {
    margin: 16px auto; } }

.widget-sm {
  max-width: 480px;
  transition: all .4s;
  margin: 32px auto;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(81, 85, 84, 0.5);
  border-radius: 3px;
  overflow: hidden;
  outline: none;
  margin-bottom: 2.25em; }
  .widget-sm .title {
    font-size: 17px;
    font-family: sans-serif;
    line-height: 1.58;
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
    color: #515554; }
  .widget-sm .subhead {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #b0b3b3;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0; }
  .widget-sm .img--container {
    float: right;
    margin: 1rem;
    padding-bottom: 80px;
    width: 80px;
    position: relative;
    overflow: hidden;
    height: 0; }
    .widget-sm .img--container img {
      position: absolute;
      height: 100%;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      width: 100%;
      vertical-align: middle;
      max-width: 100%;
      width: auto; }
  .widget-sm .description {
    padding: 0 1rem; }
    .widget-sm .description li {
      background: none;
      font-size: 16px;
      line-height: 1.58;
      font-weight: 400; }
  .widget-sm .card__actions {
    padding: 1rem;
    font-family: sans-serif; }
    .widget-sm .card__actions a {
      border-color: #b0b3b3;
      color: #515554;
      background: none;
      border-style: solid;
      border-width: 1px;
      border-radius: 2px;
      color: #515554;
      cursor: pointer;
      display: inline-block;
      font-size: 1em;
      font-style: normal;
      line-height: 1em;
      padding: 0.5625em 1.125em;
      text-decoration: none;
      text-transform: capitalize;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased; }
      .widget-sm .card__actions a:hover {
        border-color: #0D699C;
        color: #0D699C; }

form {
  padding: 16px 8px;
  max-width: 100%; }
  form .widget-selector {
    margin: 0;
    padding: 0; }
    form .widget-selector li {
      list-style: none;
      padding: 0.5em 1em; }
      form .widget-selector li label {
        padding: 0.25em; }
  form .block {
    margin-top: 16px; }
  form label {
    display: block;
    font-size: 16px;
    line-height: 26px;
    margin-top: 8px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #515554; }
  form .label-icon {
    display: inline-block; }
  form h2 {
    margin-top: 0;
    color: #515554; }
  form .icons-container {
    background: #f4f4f4;
    border-radius: 3px;
    padding: 8px; }
  form .icon-bg {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    text-align: center; }
  form .icon-selected svg {
    fill: #1189cb; }
  form input {
    border: none;
    border-bottom: 1px solid #cfd2d2;
    width: 100%;
    height: 32px; }
  form input[type="radio"].select-icon {
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    cursor: pointer; }
  form textarea {
    border: none;
    border-bottom: 1px solid #cfd2d2;
    width: 100%; }
  form input[name="description"], form input[name="image"], form input[name="link"] {
    color: #515554; }
  form button {
    display: block;
    background: #1189cb;
    color: #f6fbfe;
    cursor: pointer;
    font-family: sans-serif;
    transition: all 1s;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-size: 18px;
    font-style: normal;
    line-height: 1em;
    padding: 0.5625em 1.125em;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    margin: 8px 0; }
    form button:hover {
      background: #0f79b4;
      opacity: 1;
      transition: all 1s; }

.snippet {
  background: #f4f4f4;
  width: auto;
  overflow: hidden;
  overflow-x: scroll;
  margin: 8px; }
  .snippet .prettyprint {
    color: #515554;
    padding: 16px; }
  .snippet .hidden {
    width: 0;
    height: 0;
    overflow: hidden; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.App {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; }

.container {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto; }

.heading-title {
  color: #515554;
  margin: 16px 8px; }

.flex {
  display: flex;
  justify-content: space-between; }

.col {
  width: 50%; }

h4 {
  font-weight: 600;
  font-size: 17.4px;
  color: #515554;
  line-height: 27.0667px;
  margin: 0;
  margin-top: 16px;
  margin-left: 8px; }

.text {
  margin: 0;
  color: #515554;
  font-size: 14.4923px;
  font-weight: 300;
  line-height: 23.2px;
  margin-left: 8px; }

@media only screen and (max-width: 991px) {
  .flex {
    flex-direction: column-reverse; }
  .col {
    width: 100%; } }
