@import './styles/imports.scss'; //imports all the styles

.App {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}

.heading-title {
  color: $color-black;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 50%;
}

